.navBar {
  display: flex;
  width: 100%;
  padding: 25px 0;
  margin-bottom: 30px;
  border-bottom: 1px solid lightgrey;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.logo {
  width: 50px;
}
